
.main-header {
  background-color: rgba(11, 100, 119, 1);
}

@font-face {
  font-family: 'Noto Sans Tagalog';
  src: url("/fonts/Noto_Sans_Tagalog/NotoSansTagalog-Regular.ttf") format("truetype");
}

.noto-sans-tagalog-regular {
  font-family: "Noto Sans Tagalog", "Source Sans Pro";
  font-weight: 200;
  font-style: normal;
}

.banner-home {
  padding-top: 200px;
  background-color: #0b6477;
  color: #ffffff;
  height: 73vh;
  position: relative; /* Ensure the container is positioned correctly */
  overflow: hidden; /* Hide any overflowing parts of the image */
}

.banner-home-image {
  width: 750px; /* Keep your specified width */
  object-fit: cover; /* Crop the image to fit the container */
  object-position: center; /* Center the image within the container */
  margin-top: -60px; /* Keep your existing margin */
}

.banner-home .banner-home-title {
  font-size: 50px;
}

.banner-home .banner-home-content {
  font-size: 30px;
}

.supplier-home {
  background-color: #ebe9e9;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.nav-link.btn.btn-outline-light.rounded-pill:hover {
  color: black !important;
}

.image-supplier-container {
  text-align: center;
}

.image-supplier-container img {
  margin: 0 auto;
}

.about-me {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.skills-experience {
  /* height: 500px; */
  padding-bottom: 50px;
  background-color: #ebe9e9;
}

.lets-build {
  background-color: #ebe9e9;
}

.info-card-home {
  height: 400px;
  padding-top: 50px;
}

.card-home:hover {
  margin-top: -10px;
  transition: margin-top 0.3s ease-in-out;
}

.container-xxl {
  max-width: 1440px !important;
}

.analytics-home {
  padding-top: 100px;
}container-xxl

.footer-home {
  background-color: #0b6477;
  color: #ffffff;
}

.grayscale-image {
  filter: grayscale(100%);
}

.card-header .nav-pills {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adds space between the tabs */
}

.flipped {
  transform: rotateY(360deg);
}

#banner-text-1 {
  cursor: pointer;
  display: inline-block !important;
  transition: transform 0.6s;
  transform-origin: center;
}

#banner-text-2 {
  cursor: pointer;
  display: inline-block !important;
  transition: transform 0.6s;
  transform-origin: center;
}

#banner-text-3 {
  cursor: pointer;
  display: inline-block !important;
  transition: transform 0.6s;
  transform-origin: center;
}

@media only screen and (max-width: 1000px) {
  .banner-home-image {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .banner-home-image {
    width: 400px; 
  }
}

@media (max-width: 500px) {
  .banner-home {
    padding-top: 50px;
  }

  .banner-home-image {
    display: none;
  }

  .about-me {
    padding-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
}